<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeonPayAcademy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PixAddAmountReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".PixPaymentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PixConfirmAmountActivity"
            android:exported="false" />
        <activity
            android:name=".PixAddAmountActivity"
            android:exported="false" />
        <activity
            android:name=".ExtractActivity"
            android:exported="false" />
        <activity
            android:name=".PixHomeActivity"
            android:exported="false" />
        <activity
            android:name=".PixTransferReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmPixPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmPixTransferActivity"
            android:exported="false" />
        <activity
            android:name=".TransferirPixActivity"
            android:exported="false" />
        <activity
            android:name=".PixTransferActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>